*{margin:0;padding:0;box-sizing:border-box}h1,h2,h3,p,button{font-family:Garamond,serif;font-weight:450;font-style:normal}h1{font-family:Courier New,monospace;font-weight:400;font-style:normal}img{width:100%;height:100%;object-fit:cover}
