*{margin:0;padding:0;box-sizing:border-box}h1,h2,h3,p,button{font-family:Tahoma,sans-serif;font-weight:450;font-style:normal}h1{font-weight:800;font-style:normal}img{width:100%;height:100%;object-fit:cover}
