nav {
    position: absolute;
    left: 0;
    width: calc(100vw - 1rem);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    --text-color: var(--light-main);
}

.logo {
    height: 3rem;
    width: 3rem;
}

.nav-items {
    display: flex;
    gap: 2rem;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero {
    background-color: var(--bg-color);
    z-index: -2;
}

.hero-logo {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100svh;

    font-size: min(10vh, 8.5vw);
    line-height: 1;
    --text-color: var(--light-main);
}

.hero-logo.dark-mode {
    background-color: #000;
    mix-blend-mode: multiply;
}

.hero-logo.dark-mode h1 {
    color: white;
}

.gradient-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

button {
    background-color: #ffffff00;
    border: none;
    font-size: 1rem;
    padding: 0rem;
    padding-inline: 0.5rem;
    margin-inline: 0.5rem;
    border-radius: 2rem;

    transition: all 0.25s;
}

button:hover {
    background-color: #ffffff6f;
    padding: 0.5rem;
    padding-inline: 1rem;
    margin-inline: 0rem;

    cursor: pointer;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
        gap: 2rem;
        width: 100vw;
    }

    .nav-items {
        gap: 0.5rem;
    }

    button {
        padding: 0rem;
        padding-inline: 0.5rem;
        margin: 0.5rem;
    }

    button:hover {
        padding: 0.5rem;
        padding-inline: 1rem;
        margin-block: 0rem;
    }
}

@media (max-width: 500px) {
    p,
    button {
        font-size: 0.75rem;
    }
}