name: deploy nix angular

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3

      - name: Building application
        run: |
          nix build .

      - name: Deploying to Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: result/share/browser
          branch: gh-pages